.navigation-items {
  display: flex;
  flex-direction: column;
}

.navigation-items a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navigation-items a svg {
  padding-right: 2rem;
}
