.game-list {
  margin: 2rem;
  padding: 1rem;
}

.game-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.game-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

.item-delete {
  cursor: pointer;
}
