.randomizer {
  padding: 1rem;
  display: flex;
}

.add-game {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.add-game .button {
  background-color: red;
}

.name-selector {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.name-selector label {
  font-size: 1.5rem;
}

.name-selector input {
  padding: 0.5rem;
  background-color: transparent;
  color: #ddd;
  border: 0;
}

.name-selector input:focus {
  outline: none;
  border: 0;
}

.randomization-machine {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.randomization-machine-content {
  padding: 3rem;
}

.button-selector-div {
  padding: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.game-selector-button {
  border-radius: 1rem;
  background-color: rgba(128, 128, 128, 0.8);
  border: 0;
  padding: 0.5rem;
  transition: 0.2s ease-in-out;
  min-width: 8rem;
}

.game-selector-button:hover {
  background-color: rgba(200, 200, 200, 0.8);
}

.selected-emote {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.dialog-header {
  padding: 0.5rem;
  padding: 0.5rem;
  display: flex;
  width: 90%;
  align-content: center;
  justify-content: flex-end;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.5rem;
  align-items: center;
}
