.slot-machine {
  display: flex;
  flex-direction: row;
}

.slot-box {
  font-size: 3rem;
  min-height: 4rem;
}

.slot-machine-result {
  min-height: 1.5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}