@media screen and (min-width: 740px) {
  .twitch-iframe-clip {
    height: 26rem;
    width: 45rem;
  }

  .clip-container {
    align-items: flex-start;
    width: 100%;
  }

  .clip-title {
    font-size: 2rem;
  }

  .twitch-iframe-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 740px) {
  .twitch-iframe-clip {
    height: 13rem;
    width: 22.5rem;
  }

  .clip-container {
    align-items: center;
  }

  .clip-title {
    font-size: 1.5rem;
  }
}

.clip-informations-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.clip-container {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clip-title {
  font-weight: bold;
}

.clip-label {
  font-weight: bold;
  padding-left: 1rem;
  padding-bottom: 0.3rem;
  padding-right: 0.2rem;
}

.clip-information {
  display: flex;
  flex-direction: row;
}
