@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Ops+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;

}

html {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

body {
  overflow-x: hidden;
}


.main-container {
  padding: 100px 0 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: auto;
}

.link-list {
  margin: 0;
  padding: 0;
}

.header-component {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  /* margin: 0 2rem;
  margin: 0 3rem; */
  height: 100px;
  position: fixed;
  transition: background-color 0.5s ease;
}

.footer-component {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  /* margin: 0 2rem;
  margin: 0 3rem; */
  height: 100px;
  bottom: 0;
  position: fixed;
  transition: background-color 0.5s ease;
}

.footer-left {}

.footer-middle {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  align-content: center;
}

.footer-right {}


.profile-picture-component {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.light {
  background-color: #dddddd;
  color: #111111;
  transition: background-color 0.5s ease;
}

.light a {
  color: #111111;
}

.light .header-component {
  color: #111111;
  background-color: #dddddd;
  z-index: 2;
  box-shadow: 0 3px 3px #111111;
}

.light .footer-component {
  color: #111111;
  background-color: #dddddd;
  z-index: 2;
  box-shadow: 0 -1px 3px #111111;
}



.dark {
  background-color: #111111;
  color: #dddddd;
  transition: background-color 0.5s ease;
}

.dark a {
  color: #dddddd;
}

.dark .header-component {
  color: #dddddd;
  background-color: #111111;
  z-index: 2;
  box-shadow: 0 3px 3px #dddddd;
}

.dark .footer-component {
  color: #dddddd;
  background-color: #111111;
  z-index: 2;
  box-shadow: 0 -1px 3px #dddddd;
}


@media screen and (min-width: 500px) {
  .header-component {
    justify-content: center;
  }

  .profile-picture-component {
    justify-content: center;
  }

  .link-list {
    width: 50%;
  }

}

@media screen and (max-width: 500px) {
  .header-component {
    justify-content: flex-start;
  }

  .profile-picture-component {
    justify-content: flex-start;
  }

  .link-list {
    width: auto;
  }
}